.functions__table {
    width: 100%;

    tbody, thead {
        tr {
            td {
                //border: 1px solid #111;
                text-align: center;
            }
        }
    }
}

.function__row {
    
}

.function__row:hover {
    background-color: #00000045;
    cursor: pointer;
}

.function__info {
    border-bottom: 1px solid #111111;
    margin: 24px 12px;
    padding: 24px;
}